﻿@model FileSharer.Web.Models.File.FileViewModel

@{
    ViewData["Title"] = Model.Name;
    ViewData["FileName"] = Model.Name;
}

<h2 class="text-dark">@ViewData["FileName"]</h2>

<div class="container text-dark row">
    <div class="row">
        <div class="col">
            <h4>File Info</h4>
            <hr />
            <dl class="row">
                <dt class="col-lg-4">
                    @Html.DisplayNameFor(model => model.Name):
                </dt>
                <dd class="col-lg-8">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-lg-4">
                    @Html.DisplayNameFor(model => model.Category):
                </dt>
                <dd class="col-lg-8">
                    @Html.DisplayFor(model => model.Category)
                </dd>
                <dt class="col-lg-4">
                    @Html.DisplayNameFor(model => model.Author):
                </dt>
                <dd class="col-lg-8">
                    @Html.DisplayFor(model => model.Author)
                </dd>
                <dt class="col-lg-4">
                    @Html.DisplayNameFor(model => model.Description):
                </dt>
                <dd class="col-lg-8">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-lg-4">
                    @(Html.DisplayNameFor(model => model.Size) + "(KB)"):
                </dt>
                <dd class="col-lg-8">
                    @Html.DisplayFor(model => model.Size)
                </dd>
                <dt class="col-lg-4">
                    @Html.DisplayNameFor(model => model.DownloadsCount):
                </dt>
                <dd class="col-lg-8">
                    @Html.DisplayFor(model => model.DownloadsCount)
                </dd>
                <dt class="col-lg-4">
                    @Html.DisplayNameFor(model => model.CreateDate):
                </dt>
                <dd class="col-lg-8">
                    @Html.DisplayFor(model => model.CreateDate)
                </dd>
            </dl>
        </div>
    </div>
    </div>
<div>
    @Html.DownloadButton(Model.Id, Model.Name)
    @Html.EditButton("File", User, Roles.OnlyEditors, Model.Id)
    @Html.BackToListButton("File")
</div>
