﻿@using System.Security.Claims;

<ul class="navbar-nav">
    @if (!User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link btn text-light" asp-controller="Account" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-success text-light" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <span class="navbar-text text-light mx-2">
                @User.Identity.Name - @User.Claims.Single(claim => claim.Type == ClaimTypes.Role).Value
            </span>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-danger text-light" asp-controller="Account" asp-action="Logout">Logout</a>
        </li>
    }
</ul>
