@model FileSharer.Web.Models.User.EditUserViewModel
@inject FileSharer.Business.Services.Interfaces.IRoleService roleService

@{
    ViewData["Title"] = "Edit";

    var roles = roleService.GetAll();
    var selectRolesList = new SelectList(roles, "Name", "Name");
    ViewData["Roles"] = selectRolesList;
}

<h4>Edit user</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Name</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label">Role</label>
                <select class="form-control" asp-for="Role" asp-items=@(ViewData["Roles"] as SelectList)></select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-outline-success m-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-outline-primary m-1" asp-action="List">Back to List</a>
</div>

